@import "tailwindcss";

@layer utilities {
  .number-button {
    @apply bg-[#3c3c3c] text-white brightness-90 h-full w-full font-bold rounded hover:bg-[#323232] cursor-pointer transition-colors;
  }
  
  /* .symbol-button {
    @apply bg-[#3c3c3c] brightness-90 h-full w-full font-bold text-white rounded hover:brightness-110 cursor-pointer transition-all;
  } */
}